---
layout: default
title: Workflow-Related Events
permalink: /events
---

<article class="post">
    <header>
        <div class="title">
            <h2>{{ page.title }}</h2>
            <p>
                Collection of conferences, workshops, meetings, etc. relevant to the workflows community suitable for workflows research
            </p>
        </div>
    </header>

    <div class="row">
        {% assign events = site.data.events | sort: 'date' %}
        {% capture nowunix %}{{'now' | date: '%Y-%m-%d' | date: '%s'}}{% endcapture %}
        {% for event in events %}
        {% capture eventtime %}{{event.date | date: '%s'}}{% endcapture %}
        {% if eventtime >= nowunix %}
        <div class="col-sm-12 col-md-12">
            <a href="{{event.url}}" class="event" target="_blank">
                <div class="event-date">
                    <span class="header">{{event.date | date: "%b %d" }}</span><br />
                    <span class="subheader">{{event.date | date: "%Y" }}</span>
                </div>
                <div class="event-content">
                    <strong>{{event.series}}</strong>: {{event.name}}<br />
                    <span class="location">{{event.location}}</span><br />
                    {% if event.deadlines %}
                    {% for d in event.deadlines %}
                    <span class="deadlines">{{d.name}}: <strong>{{d.date | date: "%b %d, %Y"}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br />
</article>