---
layout: default
title: Research Frameworks
permalink: /frameworks
---

<article class="post">
    <header>
        <div class="title">
            <h2>Research Frameworks</h2>
            <p>
                Collection of open source or freely accessible tools and frameworks that can be used to support workflow
                research and development
            </p>
        </div>
    </header>

    <div class="row">
        {% assign frameworks = site.data.research_frameworks | sort: "name" %}
        {% for framework in frameworks %}
        <div class="col-sm-12 col-md-12 framework">
            {% if framework.icon %}
            <div class="framework-icon">
                <a href="{{framework.url}}" target="_blank"><img src="{{framework.icon}}"
                        alt="{{framework.name}}" /></a>
            </div>
            {% endif %}
            <div class="framework-content">
                <a href="{{framework.url}}" target="_blank"><strong>{{framework.name}}</strong></a>
                <p class="description">{{framework.description}}</p>
                <div class="badges">
                    {% if framework.github %}
                    <a href="{{framework.github}}" target="_blank" class="badge github"><i
                            class="fab fa-github"></i>&nbsp;&nbsp;GitHub</a>
                    {% endif %}
                    {% if framework.gitlab %}
                    <a href="{{framework.gitlab}}" target="_blank" class="badge gitlab"><i
                            class="fab fa-gitlab"></i>&nbsp;&nbsp;GitLab</a>
                    {% endif %}
                    {% if framework.documentation %}
                    <a href="{{framework.documentation}}" target="_blank" class="badge documentation"><i
                            class="fas fa-book"></i>&nbsp;&nbsp;Documentation</a>
                    {% endif %}
                </div>
                {% if framework.tags %}
                <div class="tags">
                    {% assign tags = framework.tags | sort %}
                    {% for tag in tags %}
                    <span class="tag"><i class="fas fa-circle" style="font-size: 0.7em"></i>&nbsp;&nbsp;{{tag}}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <br />
</article>