---
layout: default
permalink: /
---

{% capture nowunix %}{{'now' | date: '%Y-%m-%d' | date: '%s'}}{% endcapture %}
{% assign total_systems = site.systems | size %}
{% assign total_members = site.data.members | size %}
{% assign total_frameworks = site.data.research_frameworks | size %}
{% assign total_wci_wg = site.working_groups | where:"layout","working_groups" | size %}
{% assign total_ext_wg = site.data.working_groups | size %}
{% assign total_wg = total_wci_wg | plus: total_ext_wg %}

<!-- Stories -->
{% assign story = site.stories | sort: "date" | reverse %}
<section class="ftco-section-featured ftco-animate">
    <div class="container-fluid" data-scrollax-parent="true">
        <div class="row no-gutters d-flex align-items-center" data-scrollax=" properties: { translateY: '-30%'}">

            <div class="col-md-3 mb-3">
                <a href="{{ story[2].url }}" class="featured-img">
                    <div class="text-1 p-4 d-flex align-items-center">
                        <h3>
                            {{ story[2].title }}<br />
                            <span class="tag">{{ story[2].date | date: "%b %d, %Y" }}</span>
                        </h3>
                    </div>
                    <img src="{{ story[2].image }}" class="img-fluid" alt="">
                    <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                            <h3>
                                {% for author in story[2].authors %}
                                {{author.name}} <span class="position">{{author.institution}}</span><br />
                                {% endfor %}
                            </h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="row no-gutters d-flex align-items-end">
                            <div class="col-md-7">
                                <a href="{{ story[0].url }}" class="featured-img">
                                    <div class="text-1 p-4 d-flex align-items-center">
                                        <h3>
                                            {{ story[0].title }}<br />
                                            <span class="tag">{{ story[0].date | date: "%b %d, %Y" }}</span>
                                        </h3>
                                    </div>
                                    <img src="{{ story[0].image }}" class="img-fluid" alt="">
                                    <div class="text p-4 d-flex align-items-center">
                                        <div class="user d-flex align-items-center">
                                            <h3>
                                                {% for author in story[0].authors %}
                                                {{author.name}} <span
                                                    class="position">{{author.institution}}</span><br />
                                                {% endfor %}
                                            </h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-5">
                                <a href="{{ story[4].url }}" class="featured-img">
                                    <div class="text-1 p-4 d-flex align-items-center">
                                        <h3 style="font-size: 1em">
                                            {{ story[4].title }}<br />
                                            <span class="tag">{{ story[4].date | date: "%b %d, %Y" }}</span>
                                        </h3>
                                    </div>
                                    <img src="{{ story[4].image }}" class="img-fluid" alt="">
                                    <div class="text p-4 d-flex align-items-center">
                                        <div class="user d-flex align-items-center">
                                            <h3>
                                                {% for author in story[4].authors %}
                                                {{author.name}} <span
                                                    class="position">{{author.institution}}</span><br />
                                                {% endfor %}
                                            </h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row no-gutters d-flex align-items-start">
                            <div class="col-md-7">
                                <a href="{{ story[1].url }}" class="featured-img">
                                    <div class="text-1 p-4 d-flex align-items-center">
                                        <h3>
                                            {{ story[1].title }}<br />
                                            <span class="tag">{{ story[1].date | date: "%b %d, %Y" }}</span>
                                        </h3>
                                    </div>
                                    <img src="{{ story[1].image }}" class="img-fluid" alt="">
                                    <div class="text p-4 d-flex align-items-center">
                                        <div class="user d-flex align-items-center">
                                            <h3>
                                                {% for author in story[1].authors %}
                                                {{author.name}} <span
                                                    class="position">{{author.institution}}</span><br />
                                                {% endfor %}
                                            </h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-5">
                                <a href="{{ story[5].url }}" class="featured-img">
                                    <div class="text-1 p-4 d-flex align-items-center">
                                        <h3 style="font-size: 1em">
                                            {{ story[5].title }}<br />
                                            <span class="tag">{{ story[5].date | date: "%b %d, %Y" }}</span>
                                        </h3>
                                    </div>
                                    <img src="{{ story[5].image }}" class="img-fluid" alt="">
                                    <div class="text p-4 d-flex align-items-center">
                                        <div class="user d-flex align-items-center">
                                            <h3>
                                                {% for author in story[5].authors %}
                                                {{author.name}} <span
                                                    class="position">{{author.institution}}</span><br />
                                                {% endfor %}
                                            </h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <a href="{{ story[3].url }}" class="featured-img">
                    <div class="text-1 p-4 d-flex align-items-center">
                        <h3>
                            {{ story[3].title }}<br />
                            <span class="tag">{{ story[3].date | date: "%b %d, %Y" }}</span>
                        </h3>
                    </div>
                    <img src="{{ story[3].image }}" class="img-fluid" alt="">
                    <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                            <h3>
                                {% for author in story[3].authors %}
                                {{author.name}} <span class="position">{{author.institution}}</span><br />
                                {% endfor %}
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br />
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 style="font-size: 1.2em">Perspectives on <strong class="px-3">workflows-related</strong> topics from
                    the community.</h2>
                <p><a href="/stories" class="btn btn-primary mt-3 py-3 px-5">See all stories...</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Numbers -->
<section class="ftco-section ftco-counter" id="section-counter" style="padding: 4em 0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2>The Workflows Community in Numbers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <a href="/members" class="text">
                        <strong class="number" data-number="{{ total_members }}">0</strong>
                        <span>members</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <a href="/systems" class="text">
                        <strong class="number" data-number="{{ total_systems }}">0</strong>
                        <span>workflow systems</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <a href="/frameworks" class="text">
                        <strong class="number" data-number="{{ total_frameworks }}">0</strong>
                        <span>research frameworks</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <a href="/groups" class="text">
                        <strong class="number" data-number="{{ total_wg }}">0</strong>
                        <span>working groups</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Workflow Systems -->
<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Last updated open-source workflow systems</span>
                <h2 class="mb-4">Workflow Systems</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    {% assign systems_wci = site.systems | where: "wci_metadata", "true" | sort: "date_sort" | reverse
                    %}
                    {% assign systems_wci_size = systems_wci | size %}
                    {% assign systems = site.systems | where: "wci_metadata", "false" | sort: "date_sort" | reverse %}
                    {% assign systems_limit = 10 | minus: systems_wci_size %}
                    {% for system in systems_wci limit: 10 %}
                    <div class="item text-center">
                        <a href="{{system.url}}" class="testimony-wrap p-3 pb-3" style="min-height: 25em;">
                            <img src="{{system.avatar}}" style="width: 30%; margin: auto;" />
                            <div class="text">
                                <h3>{{system.title}}</h3>
                                <p class="mb-3">
                                    {{ system.headline | excerpt | strip_html | strip_newlines | truncate: 150}}
                                </p>
                                <span class="position"><i class="fas fa-code"></i> {{system.language}}</span><br />
                                {% if system.release_name != "" %}<span class="position"><i class="fas fa-box-open"></i>
                                    {{system.release_name}}</span><br />{% endif %}
                                <span class="position"><i class="far fa-clock"></i> {{system.last_update}}</span>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    <div class="item text-center">
                        <a href="/systems" class="testimony-wrap p-3 pb-3" style="min-height: 25em;">
                            <br /><br /><br />
                            <i class="fas fa-cogs" style="font-size: 5em"></i>
                            <div class="text">
                                <br />
                                <h4>See all Systems</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Twitter and Events -->
<section class="ftco-section" style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-flex align-self-stretch">
                <a class="twitter-timeline" data-lang="en" data-height="1150" data-width="100%" data-theme="light"
                    data-chrome="nofooter" href="https://twitter.com/WorkflowsCI">Tweets by WorkflowsCI</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="col-md-6 col-lg-8 text-center heading-section ftco-animate">
                <span class="subheading">Upcoming Community Events</span>
                <h2 class="mb-4">Events</h2>

                <div class="row">
                    {% assign events = site.data.events | sort: 'start_date'%}
                    {% assign count_events = 0 %}
                    {% for event in events %}
                    {% capture eventtime %}{{event.end_date | date: '%s'}}{% endcapture %}
                    {% if eventtime >= nowunix and count_events < 10 %} <div
                        class="col-md-6 col-lg-6 d-flex align-self-stretch ftco-animate" style="margin: auto">
                        <div class="media block-6 services d-block text-center">
                            <div class="d-flex justify-content-center" style="font-size: 0.9em">
                                {{event.start_date | date: "%b %d, %Y" }}
                            </div>
                            <div class="media-body">
                                <h3 class="heading" style="line-height: 1.1em">{{event.series}}<br />
                                    <span style="font-size: 0.7em; color: #e83e8c">{{event.location}}</span>
                                </h3>
                                {% if event.deadlines %}
                                <p style="text-align: left; font-size: 0.9em; line-height: 1.3em;">
                                    {% for d in event.deadlines %}
                                    {{d.name}}: <strong>{{d.date | date: "%b %d, %Y"}}</strong><br />
                                    {% endfor %}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                </div>
                {% assign count_events = count_events | plus: 1 %}
                {% endif %}
                {% endfor %}
                <div class="col-md-12 col-lg-12 mt-5 text-center heading-section ftco-animate">
                    <p><a href="/events" class="btn btn-primary mt-3 py-3 px-5">See all events...</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Jobs -->
{% assign jobs = site.jobs | sort: "application_deadline" %}
{% assign num_jobs = 0 %}
{% for job in jobs %}
{% capture eventtime %}{{job.application_deadline | date: '%s'}}{% endcapture %}
{% if eventtime >= nowunix %}
{% assign num_jobs = num_jobs | plus: 1 %}
{% endif %}
{% endfor %}
<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center" style="padding: 5em 0">
        <div class="container">
            <div class="row d-flex justify-content-center align-self-stretch">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <span class="subheading"><strong>{{ num_jobs }}</strong> Open Positions from the Community</span>
                    <h2>Jobs</h2>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel ftco-owl">
                        {% assign count_jobs = 0 %}
                        {% for job in jobs %}
                        {% capture eventtime %}{{job.application_deadline | date: '%s'}}{% endcapture %}
                        {% if eventtime >= nowunix and count_jobs < 10 %} <div class="item text-center">
                            <a href="{{job.url}}" class="testimony-wrap p-3 pb-3" style="min-height: 15em">
                                <img src="{{job.organization_logo}}" style="width: 50%; margin: auto;" />
                                <div class="text" style="line-height: 1.2em; padding-top: 1em;">
                                    <strong>{{job.title}}</strong><br /><br />
                                    {{ job.organization }}<br /><br />
                                    <span class="position">
                                        <i class="fas fa-map-marker"></i>&nbsp;&nbsp;&nbsp;{{job.location}}
                                        <br />
                                        <i class="fas fa-briefcase"></i>&nbsp;&nbsp;{{job.employment_type}}
                                    </span>
                                </div>
                            </a>
                    </div>
                    {% assign count_jobs = count_jobs | plus: 1 %}
                    {% endif %}
                    {% endfor %}
                    <div class="item text-center">
                        <a href="/jobs" class="testimony-wrap p-3 pb-3" style="min-height: 15em;">
                            <br /><br />
                            <i class="fas fa-briefcase" style="font-size: 3.5em"></i>
                            <div class="text">
                                See all Jobs
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Founders -->
<section class="ftco-section" style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <span class="subheading">Since 2021</span>
                <h2 class="mb-4">Founding Members</h2>

                <div class="row">
                    {% assign institutions = site.data.institutions | where: "founding",true %}
                    {% for institution in institutions %}
                    <div class="col-sm-6 col-md-3">
                        <a href="{{institution.link}}" target="_blank">
                            <img src="/images/institutions/{{institution.image}}" alt="{{institution.name}}" style="max-width: 10em; max-height: 4em; margin-bottom: 2em" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>