---
layout: default
permalink: /
---

{% capture nowunix %}{{'now' | date: '%Y-%m-%d' | date: '%s'}}{% endcapture %}
{% assign total_systems = site.systems | size %}
{% assign total_members = site.data.members | size %}
{% assign total_frameworks = site.data.research_frameworks | size %}
{% assign total_wci_wg = site.working_groups | where:"layout","working_groups" | size %}
{% assign total_ext_wg = site.data.working_groups | size %}
{% assign total_wg = total_wci_wg | plus: total_ext_wg %}

<article class="post">
    <div class="ostats">
        <div>
            <i style="color: #999">A community-supported common knowledge-base for workflows research and development</i>
        </div>
        <a class="nsystems" href="/systems">
            <strong class="timer" data-from="1" data-to="{{ total_systems }}"></strong><br />
            workflow systems
        </a>
        <a class="nmembers" href="/members">
            <strong class="timer" data-from="1" data-to="{{ total_members }}"></strong><br />
            members<br />
            <span class="light-gray"><i>and growing</i></span>
        </a>
        <a class="nframeworks" href="/frameworks">
            <strong class="timer" data-from="1" data-to="{{ total_frameworks }}"></strong><br />
            research frameworks
        </a>
        <a class="nwg" href="/groups">
            <strong class="timer" data-from="1" data-to="{{ total_wg }}"></strong><br />
            working groups
        </a>
    </div>
</article>

<!-- Workflow Systems -->
<article class="post">
    <header>
        <div class="top-button" style="background-color: #e27d60;">
            <h3 style="margin: 0; color: #fff">Workflow Systems</h3>
            <p style="margin: 0; line-height: 1.5em; font-size: 0.6em">
                Last Updated Open Source Workflow Systems
            </p>
        </div>
        <a href="/systems" class="bottom-button" style="background-color: #FA8B6C;">All Systems</a>
    </header>

    <div class="systems">
        <div class="systems-list">
            {% assign systems_wci = site.systems | where: "wci_metadata", "true" | sort: "date_sort" | reverse %}
            {% assign systems_wci_size = systems_wci | size %}
            {% assign systems = site.systems | where: "wci_metadata", "false" | sort: "date_sort" | reverse %}
            {% assign systems_limit = 10 | minus: systems_wci_size %}
            {% for system in systems_wci limit: 10 %}
            <a href="{{system.url}}" class="system"
                style="min-width: 15em; max-height: 6em; min-height: 6em; box-shadow: none; flex: 0 0 auto; position: relative">
                {% if system.avatar %}
                <div class="system-avatar">
                    <img src="{{system.avatar}}" alt="{{system.repository}}" />
                </div>
                {% endif %}
                <div class="system-content">
                    <strong>{{system.title}}</strong>
                    <div class="list-stats">
                        <i class="fas fa-code"></i> {{system.language}}</span><br />
                        {% if system.release_name != "" %}
                        <i class="fas fa-box-open"></i> {{system.release_name}}</span><br />
                        {% endif %}
                        <i class="far fa-clock"></i> {{system.last_update}}
                    </div>
                </div>
                {% if system.wci_metadata %}
                <div style="position: absolute; bottom: 0; right: 1em; font-size: 0.8em">
                    <img src="/favicon.ico" style="max-width: 1.5em; vertical-align: middle" /> 
                    <span class="light-gray">WCI metadata</span>
                </div>
                {% endif %}
            </a>
            {% endfor %}
            {% for system in systems limit: systems_limit %}
            <a href="{{system.url}}" class="system"
                style="min-width: 15em; max-height: 6em; min-height: 6em; box-shadow: none; flex: 0 0 auto; position: relative">
                {% if system.avatar %}
                <div class="system-avatar">
                    <img src="{{system.avatar}}" alt="{{system.repository}}" />
                </div>
                {% endif %}
                <div class="system-content">
                    <strong>{{system.title}}</strong>
                    <div class="list-stats">
                        <i class="fas fa-code"></i> {{system.language}}</span><br />
                        {% if system.release_name != "" %}
                        <i class="fas fa-box-open"></i> {{system.release_name}}</span><br />
                        {% endif %}
                        <i class="far fa-clock"></i> {{system.last_update}}
                    </div>
                </div>
                {% if system.wci_metadata %}
                <div style="position: absolute; bottom: 0; right: 1em; font-size: 0.8em">
                    <img src="/favicon.ico" style="max-width: 1.5em; vertical-align: middle" /> 
                    <span class="light-gray">WCI metadata</span>
                </div>
                {% endif %}
            </a>
            {% endfor %}
            <a href="/systems" class="system"
                style="border: 1px solid #ddd; border-radius: 0.5em; box-shadow: none; flex: 0 0 auto; margin-left: 1em">
                <div style="text-align: center; min-width: 6em; min-height: 3.5em; color: #aaa">
                    <i class="fas fa-cogs" style="font-size: 1.5em"></i><br />
                    See all Systems
                </div>
            </a>
        </div>
    </div>
</article>

<div class="row" style="margin-left: 0.075em; margin-right: 0.075em; margin-bottom: 3em">
    <!-- Events -->
    <div class="col-sm-12 col-md-6">
        <div class="mini-box events">
            <header>
                <div class="top-button" style="border-bottom: 1px solid #ccc;">
                    <h3 style="margin: 0; color: #fff">Events</h3>
                    <p style="margin: 0; line-height: 1.5em; font-size: 0.6em">Upcoming Community Events</p>
                </div>
                <a href="/events" class="bottom-button">All Events</a>
            </header>
            <div class="row" style="margin-top: 2.5em">
                {% assign events = site.data.events | sort: 'start_date'%}
                {% assign count_events = 0 %}
                {% for event in events %}
                {% capture eventtime %}{{event.end_date | date: '%s'}}{% endcapture %}
                {% if eventtime >= nowunix and count_events < 15 %} <div class="col-sm-12 col-md-12"
                    style="padding: 0 0.5em">
                    <a href="{{event.url}}" class="event" target="_blank">
                        <div class="event-date" style="min-width: 5em; max-width: 5em; max-height: 10em;">
                            <span class="header" style="font-size: 1em">{{event.start_date | date: "%b %d"
                                }}</span><br />
                            <span class="subheader" style="font-size: 0.8em">{{event.start_date | date: "%Y" }}</span>
                        </div>
                        <div class="event-content" style="line-height: 1em;">
                            <span class="
                            {% if event.type == 'Conference' %}
                                color-7
                            {% elsif event.type == 'Workshop' %}
                                color-6
                            {% endif %}
                            ">{{event.series}}</span><br />
                            <span style="font-size: 0.8em"><i class="fas fa-map-marker"
                                    style="font-size: 0.8em; color: #999"></i> {{event.location}}</span><br />
                            {% if event.deadlines %}
                            {% for d in event.deadlines %}
                            <span class="deadlines">{{d.name}}: <strong>{{d.date | date: "%b %d,
                                    %Y"}}</strong></span><br />
                            {% endfor %}
                            {% endif %}
                        </div>
                    </a>
            </div>
            {% assign count_events = count_events | plus: 1 %}
            {% endif %}
            {% endfor %}
            <div class="col-sm-12 col-md-12" style="padding: 0 0.5em">
                <a href="/events" style="text-decoration: none">
                    <div style="text-align: center; color: #4CA8A9; border: 1px solid #4CA8A9; padding: 0.5em; border-radius: 0.5em; font-size: 0.8em; font-weight: bold;">
                        See all Events
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-1">&nbsp;</div>

<!-- Jobs -->
{% assign jobs = site.jobs | sort: "application_deadline" %}
{% assign num_jobs = 0 %}
{% for job in jobs %}
{% capture eventtime %}{{job.application_deadline | date: '%s'}}{% endcapture %}
{% if eventtime >= nowunix %}
{% assign num_jobs = num_jobs | plus: 1 %}
{% endif %}
{% endfor %}
<div class="col-sm-12 col-md-5">
    <div class="mini-box jobs">
        <header>
            <div class="top-button" style="background-color: steelblue;">
                <h3 style="margin: 0; color: #fff">Jobs</h3>
                <p style="margin: 0; line-height: 1.5em; font-size: 0.6em">
                    <strong style="color: #fff">{{ num_jobs }}</strong> Open Positions from the Community
                </p>
            </div>
            <a href="/jobs" class="bottom-button" style="background-color: #659AD4;">All Jobs</a>
        </header>
        <div class="row" style="margin-top: 2.5em">
            {% assign count_jobs = 0 %}
            {% for job in jobs %}
            {% capture eventtime %}{{job.application_deadline | date: '%s'}}{% endcapture %}
            {% if eventtime >= nowunix and count_jobs < 10 %} <div class="col-sm-12 col-md-12"
                style="padding: 0 0.5em; vertical-align: top;">
                <a href="{{ job.url }}" class="job-item">
                    <div>
                        <span style="color: steelblue">{{ job.title }}</span><br />
                        <span style="font-size: 0.9em">{{ job.organization }}</span><br />
                        <span class="light-gray">
                            <i class="fas fa-clock"></i>&nbsp;&nbsp;{{ job.application_deadline | date: "%b %d, %Y" }}
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <i class="fas fa-map-marker"></i>&nbsp;&nbsp;&nbsp;{{ job.location }}
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <i class="fas fa-briefcase"></i>&nbsp;&nbsp;{{ job.employment_type }}
                        </span>
                    </div>
                    <div>
                        <img src="{{ job.organization_logo }}" alt="{{ job.title }}" />
                    </div>
                </a>
        </div>
        {% assign count_jobs = count_jobs | plus: 1 %}
        {% endif %}
        {% endfor %}
        <div class="col-sm-12 col-md-12" style="padding: 0 0.5em">
            <a href="/jobs" style="text-decoration: none">
                <div class="see-all-button" style="text-align: center; color: steelblue; border: 1px solid steelblue; padding: 0.5em; border-radius: 0.5em; font-size: 0.8em; font-weight: bold;">
                    See all Jobs
                </div>
            </a>
        </div>
    </div>
</div>
</div>
</div>

<article class="post">
    <header>
        <div class="top-button" style="background-color: #adadad;">
            <h3 style="margin: 0; color: #fff">Founding Members</h3>
            <p style="margin: 0; line-height: 1.5em;">
                Since 2021
            </p>
        </div>
    </header>

    <div class="row" style="margin-top: 5em">
        {% assign institutions = site.data.institutions | where: "founding",true %}
        {% for institution in institutions %}
        <div class="col-sm-6 col-md-3 institution">
            <a href="{{institution.link}}" target="_blank">
                <img src="/images/institutions/{{institution.image}}" alt="{{institution.name}}" />
            </a>
        </div>
        {% endfor %}
    </div>
    <br />
</article>

<script type="text/javascript">
    $('.timer').countTo();
</script>