---
layout: page
title: Workflows Community Talks
permalink: /talks
---

<div class="container" data-aos="fade-up" style="padding: 3em 0;">
    <div class="row">
        <div class="col-lg-8 wg">
            <p>The <strong style="color: #db8e1b">Workflow Community Talks</strong> are a monthly virtual series of
                30-minute talks bringing together members of the Workflows community and anyone interested in the field.
            </p>

            <section id="testimonials" class="testimonials bg-light" style="padding-top: 0;">
                <h3 class="mb-4">Upcoming Talk</h3>
                {% assign upcoming = site.talks | where: "given", false | sort: 'talk_number' | reverse %}
                {% for talk in upcoming %}
                  {% include talk_card.html talk=talk %}
                {% endfor %}
              
                <h3 class="mb-4 mt-5">Previous Talks</h3>
                {% assign previous = site.talks | where: "given", true | sort: 'talk_number' | reverse %}
                {% for talk in previous %}
                  {% include talk_card.html talk=talk %}
                {% endfor %}
              </section>
              
        </div>

        <div class="col-lg-4">
            <div class="blog-sidbar">
                <h4 class="mb-3">Organizers</h4>
                <img src="/images/about/hudson.jpg"
                    style="width: 3em; height: 3em; border-radius: 0.5em; margin-right: 1em;" />
                Stephen Hudson (ANL)<br /><br />
                <img src="/images/about/casol.jpeg"
                    style="width: 3em; height: 3em; border-radius: 0.5em; margin-right: 1em;" />
                    Daniela Cassol (LBNL)<br /><br />
                <hr />
                <p>Register to attend the series?
                    <a href="https://docs.google.com/forms/d/1XTJFRJ5Ivu2-Z-i9dnq2umv-OuE2UlVreea_dLawd2c"
                        target="_blank" class="btn btn-primary mt-1 py-3 px-5">Register</a>
                </p>
                <p>Interested in giving a talk?
                    <a href="https://docs.google.com/forms/d/1P9u12xVgh77FC6cGb5v7iE1rF0VpWAzSw0cmJ-BRD0Q"
                        target="_blank" class="btn btn-primary mt-1 py-3 px-5">Sign Up Here</a>
                </p><br />
                <hr />
                <h4 class="mb-3">Latest Talks</h4>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=ElrjhblSaUsMzOed&amp;list=PLAtmuqHExRvNnGtrqHl1ZXR6ZH37HLfo1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border-radius: 1em;"></iframe>
            </div>
        </div>
    </div>
</div>
