---
layout: default
title: Workflows Systems
permalink: /systems
---

<article class="post">
    <header>
        <div class="title">
            <h2>{{page.title}}</h2>
            <p>
                Collection of actively-developed open source workflow systems
            </p>
            <a href="/systems/contribute" class="corner-button" style="background-color: #4CA8A9">Contribute</a>
        </div>
    </header>

    <div class="row">
        {% assign systems = site.systems | sort: "date_sort" | reverse %}
        {% for system in systems %}
        <div class="col-sm-12 col-md-12">
            <a href="{{system.url}}" class="system">
                {% if system.avatar %}
                <div class="system-avatar">
                    <img src="{{system.avatar}}" alt="{{system.repository}}" />
                </div>
                {% endif %}
                <div class="system-content">
                    <strong>{{system.title}}</strong><br />
                    <span style="color: #666">{{system.headline}}</span><br />
                    <ul class="stats sys-stats">
                        <li><span class="light-gray"><i class="fas fa-code"></i> {{system.language}}</span></li>
                        {% if system.release_name != "" %}
                        <li><span class="light-gray"><i class="fas fa-box-open"></i> {{system.release_name}}</span></li>
                        {% endif %}
                        <li><span class="light-gray"><i class="far fa-clock"></i> {{system.last_update}}</span></li>
                        {% if system.wci_metadata %}
                        <li><span class="light-gray"><img src="/favicon.ico" style="max-width: 2.5em; vertical-align: middle" /> WCI metadata</span></li>
                        {% endif %}
                    </ul>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <footer>
        <div style="margin: 2.5em auto; color: #aaa; font-size: 0.9em; line-height: 1.2em; max-width: 80%; text-align: center">
            For a comprehensive lists of all known computational workflow systems, see <a
                href="https://s.apache.org/existing-workflow-systems">Computational Data Analysis Workflow Systems</a> maintained by
            the CWL community.
        </div>
    </footer>
</article>