---
layout: page
title: Workflows Registries
permalink: /registries
---

<div class="row justify-content-center mb-4 pb-5">
    <div class="col-md-8 text-center heading-section ftco-animate">
        <p>
            Collection of workflow repositories that host workflow applications
        </p>
        <a href="/registries/contribute" class="btn btn-primary mt-3 py-3 px-5">Contribute</a>
    </div>
</div>

<div class="row">
    {% assign registries = site.data.registries | sort: "name" %}
    {% for registry in registries %}
    <div class="col-md-6 ftco-animate">
        <div class="blog-entry" style="min-height: 23em;">
            <div class="text p-4 d-block">
                {% if registry.icon %}
                <p class="text-center">
                    <a href="{{registry.url}}" target="_blank">
                        <img src="{{ registry.icon }}" style="max-height: 6em; max-width: 8em;"
                            alt="{{ registry.name }}" />
                    </a>
                </p>
                {% endif %}
                <h3 class="heading"><a href="{{framework.url}}" target="_blank">{{registry.name}}</a></h3>
                <div class="meta mb-3">
                    {{ registry.description }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>