---
layout: page
title: Workflows Systems
permalink: /systems
---

{% assign n_systems = site.systems | size %}
{% assign wci_systems = site.systems | where: "wci_metadata", "true" | size %}
{% assign systems_wci = site.systems | where: "wci_metadata", "true" | sort: "date_sort" | reverse %}
{% assign systems = site.systems | where: "wci_metadata", "false" | sort: "date_sort" | reverse %}

<div class="container text-center" data-aos="fade-up" style="padding: 4em 0; margin-bottom: 0;">
    <h1>{{ n_systems }}</h1>
    <h4>open-source workflow systems</h4>
    <p><strong style="color: #db8e1b">{{wci_systems}}</strong> workflow systems provide WCI metadata</p>
    <a href="/systems/contribute" class="btn btn-primary mt-3 py-3 px-5">Contribute</a>
</div>

<section id="testimonials" class="testimonials bg-light" style="padding-top: 0;">
    <div class="container" data-aos="fade-up">
        <div data-aos="fade-up" data-aos-delay="100">
            <!-- WCI Metadata -->
            {% for system in systems_wci %}
            <div class="swiper-slide">
                <div class="testimonial-wrap">
                    <div class="testimonial-item">
                        <div class="d-flex align-items-center info-box">
                            <img src="{{system.avatar}}" class="testimonial-img flex-shrink-0">
                            <div>
                                <h3><a href="{{system.url}}">{{system.title}}</a></h3>
                                <h4 style="margin-bottom: 0.5em;">{{system.headline}}</h4>
                                <h4>{{system.language}}
                                    {% if system.release_name != "" %}
                                    &mdash; <i class="fas fa-box-open"></i> {{system.release_name}}
                                    {% endif %}
                                    &mdash; <i class="far fa-clock"></i> {{system.last_update}}
                                    {% if system.wci_metadata %}
                                    &mdash; <img src="/favicon.ico" style="max-height: 2em; vertical-align: middle" />
                                    WCI metadata</span>
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- No WCI Metadata -->
            {% for system in systems %}
            <div class="swiper-slide">
                <div class="testimonial-wrap">
                    <div class="testimonial-item">
                        <div class="d-flex align-items-center info-box">
                            <img src="{{system.avatar}}" class="testimonial-img flex-shrink-0">
                            <div>
                                <h3><a href="{{system.url}}">{{system.title}}</a></h3>
                                <h4 style="margin-bottom: 0.5em;">{{system.headline}}</h4>
                                <h4>{{system.language}}
                                    {% if system.release_name != "" %}
                                    &mdash; <i class="fas fa-box-open"></i> {{system.release_name}}
                                    {% endif %}
                                    &mdash; <i class="far fa-clock"></i> {{system.last_update}}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<div class="container text-center" data-aos="fade-up" style="padding: 4em 0">
    <p>For a comprehensive lists of all known computational workflow systems, see <a
            href="https://s.apache.org/existing-workflow-systems" target="_blank">Computational Data Analysis Workflow
            Systems</a> maintained by the CWL community.</p>
</div>