---
layout: page
title: About
permalink: /about
---

<div class="container text-center" data-aos="fade-up" style="padding: 4em 0; margin-bottom: 0;">
    <h4>Uniting the <strong style="color: #db8e1b">Workflows Ecosystem</strong></h4>
    <p>A collaborative hub championing both established and emerging community-driven innovations in workflow
        technologies and methodologies.</p>
</div>

<section id="team" class="team sections-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <span class="subheading">Our Board of Directors</span>
        <h2 class="mb-4">Leadership</h2>
        <div class="row gy-4">
            {% assign leadership = site.data.organization | where: "category","leadership" %}
            {% for member in leadership %}
            <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <img src="/images/about/{{ member.photo }}" class="img-fluid" alt="">
                    <h4><a href="{{member.link}}" target="_blank">{{ member.name }}</a></h4>
                    <p>{{ member.role }}</p>
                    <a href="{{ member.institution.link }}" target="_blank">
                        <img src="/images/institutions/{{ member.institution.image }}"
                            alt="{{ member.institution.name }}" style="max-height: 2em" />
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        <br /><br /><br />
        <span class="subheading">Our Board of Advisors</span>
        <h2 class="mb-4">Steering Committee</h2>
        <div class="row gy-4">
            {% assign sc = site.data.organization | where: "category","sc" %}
            {% for member in sc %}
            <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <img src="/images/about/{{ member.photo }}" class="img-fluid" alt="">
                    <h4><a href="{{member.link}}" target="_blank">{{ member.name }}</a></h4>
                    <p>{{ member.role }}</p>
                    <a href="{{ member.institution.link }}" target="_blank">
                        <img src="/images/institutions/{{ member.institution.image }}"
                            alt="{{ member.institution.name }}" style="max-height: 2em" />
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        <br /><br /><br />
        <span class="subheading">Our Technical Experts</span>
        <h2 class="mb-4">Technical Leads</h2>
        <div class="row gy-4">
            {% assign tl = site.data.organization | where: "category","technical" %}
            {% for member in tl %}
            <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <img src="/images/about/{{ member.photo }}" class="img-fluid" alt="">
                    <h4><a href="{{member.link}}" target="_blank">{{ member.name }}</a></h4>
                    <p>{{ member.role }}</p>
                    <a href="{{ member.institution.link }}" target="_blank">
                        <img src="/images/institutions/{{ member.institution.image }}"
                            alt="{{ member.institution.name }}" style="max-height: 2em" />
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>