---
layout: page
title: Workflows Community Summits
permalink: /summits
---

<div class="container text-center" data-aos="fade-up" style="padding: 4em 0; margin-bottom: 0;">
    <h4>Pioneering <strong style="color: #db8e1b">Workflow Summit</strong> Series</h4>
    <p>Bringing together diverse experts across workflow ecosystems to collaborate, innovate, and address the most
        pressing challenges facing our community.</p>
</div>

<section id="recent-posts" class="recent-posts sections-bg">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4">
            {% assign summits = site.summits | sort: 'order' | reverse %}
            {% for summit in summits %}
            <div class="col-lg-4">
                <article>
                    <div class="post-img">
                        <img src="{{summit.image}}" alt="" class="img-fluid">
                    </div>
                    <p class="post-category">{{summit.event_date | date: "%b %d, %Y" }}</p>
                    <h2 class="title">
                        <a href="{{summit.url}}">{{summit.title}}</a>
                    </h2>
                    <div class="d-flex align-items-center">
                        <div class="post-meta">
                            <p class="post-author">{{summit.subtitle}}</p>
                            {% if summit.report_link %}
                            <img src="{{summit.report_badge}}" alt="DOI" style="padding-top: 0.5em" />
                            {% endif %}
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
</section>