---
layout: page
title: Stories
permalink: /stories
---

<div class="row justify-content-center mb-4 pb-5">
    <div class="col-md-7 text-center heading-section ftco-animate">
        <p class="heading-section">
            Perspectives on workflows-related topics
        </p>
    </div>
</div>
<div class="row">
    {% assign count = 1 %}
    {% assign stories = site.stories | sort: 'date' | reverse %}
    {% for s in stories %}
    {% assign img_class = '' %}
    {% assign remainder = count | modulo: 2 %}
    {% if remainder == 0 %}
    {% assign img_class = 'image-2 order-2' %}
    {% endif %}
    <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a href="{{s.url}}" class="image {{img_class}}" style="background-image: url('{{s.image}}'); "
            data-scrollax=" properties: { translateY: '-20%'}">
        </a>
        <div class="text">
            <h4 class="subheading">{{s.date | date: "%b %d, %Y" }}</h4>
            <h2 class="heading"><a href="{{s.url}}">{{s.title}}</a></h2>
            <p>
                {% for author in s.authors %}
            <h4 class="subheading" style="margin: 0">{{author.name}}</h4>
            {{author.institution}}<br /><br />
            {% endfor %}
            </p>
            <p><a href="{{s.url}}" class="btn btn-primary px-4">View Story</a></p>
        </div>
    </div>
    {% assign count = count | plus: 1 %}
    {% endfor %}
</div>