---
layout: page
title: Workflow-Related Events
permalink: /events
---

<div class="row justify-content-center mb-4 pb-5">
    <div class="col-md-8 text-center heading-section ftco-animate">
        <p class="heading-section">
            Collection of conferences, workshops, meetings, etc. relevant to the workflows community suitable for
            workflows research
        </p>
        <a href="/events/add" class="btn btn-primary mt-3 py-3 px-5">Add an Event </a>
    </div>
</div>

<div class="row">
    {% assign events = site.data.events | sort: 'start_date' %}
    {% capture nowunix %}{{'now' | date: '%Y-%m-%d' | date: '%s'}}{% endcapture %}
    {% for event in events %}
    {% capture eventtime %}{{event.end_date | date: '%s'}}{% endcapture %}
    {% if eventtime >= nowunix %}
    <div class="col-md-4 ftco-animate">
        <div class="blog-entry" style="min-height: 23em;">
            <div class="text p-4 d-block">
                <div class="meta mb-3">
		   {% if event.start_date != event.end_date %}{{event.start_date | date: "%b %d" }}&mdash;{% endif %}{{event.end_date | date: "%b %d, %Y" }}
                </div>
                <h3 class="heading"><a href="{{event.url}}">{{event.short_name}}</a></h3>
                <span class="position">{{event.name}}</span><br />
                <p style="font-size: 0.9em; color: #e83e8c">{{event.location}}</p>
                {% if event.deadlines %}
                <p style="font-size: 0.8em; line-height: 1.1em;">
                    {% for d in event.deadlines %}
                    <span class="position">{{d.name}}: <strong>{{d.date | date: "%b %d, %Y"}}</strong></span><br />
                    {% endfor %}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
