---
layout: page
title: Workflows Community Talks
permalink: /talks
---

<div class="container" data-aos="fade-up" style="padding: 3em 0;">
    <div class="row">
        <div class="col-lg-8 wg">
            <p>The <strong style="color: #db8e1b">Workflow Community Talks</strong> are a monthly virtual series of
                30-minute talks bringing together members of the Workflows community and anyone interested in the field.
            </p>

            <section id="testimonials" class="testimonials bg-light" style="padding-top: 0;">
                {% assign talks = site.talks | sort: 'talk_number' | reverse %}
                {% for talk in talks %}
                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="d-flex align-items-center info-box">
                                <div>
                                    <span style="font-size: 0.8em;">{{talk.event_date | date: "%b %d, %Y" }}</span>
                                    <h3 class="heading"><a href="{{talk.url}}">{{talk.title}}</a></h3>
                                    <span class="position">{{talk.authors}}</span>
                                    {% if talk.report_link %}
                                    <img src="{{talk.report_badge}}" alt="DOI" style="padding-top: 0.5em" />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>

        <div class="col-lg-4">
            <div class="blog-sidbar">
                <h4 class="mb-3">Organizers</h4>
                <img src="/images/about/hudson.jpg"
                    style="width: 3em; height: 3em; border-radius: 0.5em; margin-right: 1em;" />
                Stephen Hudson (ANL)<br /><br />
                <img src="/images/about/casol.jpeg"
                    style="width: 3em; height: 3em; border-radius: 0.5em; margin-right: 1em;" />
                    Daniela Cassol (LBNL)<br /><br />
                <hr />
                <p>Register to attend the series?
                    <a href="https://docs.google.com/forms/d/1XTJFRJ5Ivu2-Z-i9dnq2umv-OuE2UlVreea_dLawd2c"
                        target="_blank" class="btn btn-primary mt-3 py-3 px-5">Register</a>
                </p>
                <p>Interested in giving a talk?
                    <a href="https://docs.google.com/forms/d/1P9u12xVgh77FC6cGb5v7iE1rF0VpWAzSw0cmJ-BRD0Q"
                        target="_blank" class="btn btn-primary mt-3 py-3 px-5">Sign Up Here</a>
                </p>
            </div>
        </div>
    </div>
</div>
