<!-- <section id="footer">
    <p class="copyright" style="margin-bottom: 1em">
        &copy;{{ site.time | date: '%Y' }} Workflows.Community Initiative
    </p>
    <ul class="icons" style="margin-top: 0">
        <li>
            <a href="https://www.youtube.com/channel/UCqCnXqWqKe9vF6cqKOj1CYw" target="_blank" class="fa-stack fa-2x"
                style="font-size: 1em">
                <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                <i class="fab fa-youtube fa-stack-1x"></i>
            </a>
        </li>
        <li>
            <a href="mailto:contact@workflows.community" class="fa-stack fa-2x" style="font-size: 1em">
                <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                <i class="fa fa-envelope fa-stack-1x"></i>
            </a>
        </li>
        <li>
            <a href="http://twitter.com/WorkflowsCI" target="_blank" class="fa-stack fa-2x" style="font-size: 1em">
                <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                <i class="fab fa-twitter fa-stack-1x"></i>
            </a>
        </li>
        <li>
            <a href="https://join.slack.com/t/workflowscommunity/shared_invite/zt-14l57ruzl-cCue46GoRt_4txhXfYHrtA"
                target="_blank" class="fa-stack fa-2x" style="font-size: 1em">
                <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                <i class="fab fa-slack fa-stack-1x"></i>
            </a>
        </li>
    </ul>

    <p class="copyright" style="font-size: 0.6em; margin-top: 2em !important;">
    </p>
    <p class="copyright" style="font-size: 0.6em">
    </p>
</section> -->

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/jquery.stellar.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="/assets/js/jquery.animateNumber.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.js"></script>
<!-- <script src="/assets/js/jquery.timepicker.min.js"></script> -->
<script src="/assets/js/particles.min.js"></script>
<script src="/assets/js/particle.js"></script>
<script src="/assets/js/scrollax.min.js"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
<!-- <script src="/assets/js/google-map.js"></script> -->
<script src="/assets/js/main.js"></script>