<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Workflows Community Initiative</h2>
                    <p>Our goal is to bring the workflows community together (users, developers, researchers, and
                        facilities) to provide <strong>community resources and capabilities</strong> to enable
                        scientists
                        and workflow systems developers to discover software products, related efforts, events,
                        technical
                        reports, etc. and engage in community-wide efforts to tackle workflows grand challenges.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                        <li>
                            <a href="https://www.youtube.com/channel/UCqCnXqWqKe9vF6cqKOj1CYw" target="_blank"
                                class="fa-stack fa-2x" style="font-size: 1.5em">
                                <i class="fa fa-circle fa-stack-2x" style="color: #aaa"></i>
                                <i class="fab fa-youtube fa-stack-1x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:contact@workflows.community" class="fa-stack fa-2x"
                                style="font-size: 1.5em">
                                <i class="fa fa-circle fa-stack-2x" style="color: #aaa"></i>
                                <i class="fa fa-envelope fa-stack-1x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com/WorkflowsCI" target="_blank" class="fa-stack fa-2x"
                                style="font-size: 1.5em">
                                <i class="fa fa-circle fa-stack-2x" style="color: #aaa"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://join.slack.com/t/workflowscommunity/shared_invite/zt-1s8u3ocgm-gNdsgRJgy6O2GNSFUf9eDQ"
                                target="_blank" class="fa-stack fa-2x" style="font-size: 1.5em">
                                <i class="fa fa-circle fa-stack-2x" style="color: #aaa"></i>
                                <i class="fab fa-slack fa-stack-1x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    &copy;{{ site.time | date: '%Y' }} Workflows.Community Initiative
                    <br />
                    <span style="color: #888">This template is made with
                        <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                            style="color: #888">Colorlib</a>
                    </span>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/jquery.stellar.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="/assets/js/jquery.animateNumber.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.js"></script>
<!-- <script src="/assets/js/jquery.timepicker.min.js"></script> -->
<script src="/assets/js/particles.min.js"></script>
<script src="/assets/js/particle.js"></script>
<script src="/assets/js/scrollax.min.js"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
<!-- <script src="/assets/js/google-map.js"></script> -->
<script src="/assets/js/main.js"></script>
