<header id="header">
    <h1><a href="/"><img src="/images/workflows-community-logo-horizontal.png" style="width: 10em" alt="" /></a></h1>
    <nav class="links">
        <ul>
            <li><a href="/workflow_systems" title="List of Open Source Workflow Systems">Workflow Systems</a></li>
            <li><a href="/task_forces" title="List of Task Force Efforts by the Community">Task Forces</a></li>
            <li><a href="/summits" title="Workflows Community Summits">Summits</a></li>
            <li><a href="/about" title="Who are we?">About</a></li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li>
                <a href="/get_involved" class="getinvolved">Get Involved!</a>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>