<title>{% if page.title %} {{ page.title }} - {% endif %}{{ site.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="keywords" content="workflow, hpc, science, exascale, fair, reproducibility" />
<meta name="author" content="Rafael Ferreira da Silva" />
<meta name="author" content="Henri Casanova" />
<meta name="author" content="Kyle Chard" />
{% seo %}

<!-- Prefetch DNS for faster page speed -->
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<link rel="dns-prefetch" href="//google-analytics.com" />
<link rel="dns-prefetch" href="//www.google-analytics.com" />
<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com" />
<link rel="dns-prefetch" href="//ajax.googleapis.com" />
<link rel="dns-prefetch" href="//fonts.gstatic.com" />

<!-- icons -->
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/favicon.ico" type="image/x-icon" />

<!-- stylesheets -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css" />
<link rel="stylesheet" href="/assets/css/main.css" />

<!-- scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.countTo.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $('.dropdown-toggle').dropdown();
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-271163E6PP"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-271163E6PP');
</script>
