<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/images/wci-white-logo.png" style="width: 8em" alt="" id="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <!-- RESOURCES -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Resources</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/systems">Workflow Systems</a>
                        <a class="dropdown-item" href="/registries">Workflow Registries</a>
                        <a class="dropdown-item" href="/education">Education and Training</a>
                        <a class="dropdown-item" href="/reports">Reports</a>
                    </div>
                </li>
                <!-- RESEARCH -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Research</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="/groups">Working Groups</a>
                        <a class="dropdown-item" href="/frameworks">Research Frameworks</a>
                    </div>
                </li>
                <!-- EVENTS -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Events</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/summits">Workflows Community Summits</a>
                        <a class="dropdown-item" href="/bof">Birds of a Feather (BoF)</a>
                        <a class="dropdown-item" href="/talks">Workflows Community Talks</a>
                        <a class="dropdown-item" href="/events">Workflows-Related Events</a>

                    </div>
                </li>
                <li class="nav-item"><a href="/members" class="nav-link">Members</a></li>
                <li class="nav-item"><a href="/jobs" class="nav-link">Jobs</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item cta"><a href="/contact" class="nav-link"><span>Get involved!</span></a></li>
            </ul>
        </div>
    </div>
</nav>
