<!-- Menu -->
<section id="menu">

    <!-- Links -->
    <section>
        <ul class="links">
            <li>
                <a href="/systems">
                    <h3>Workflow Systems</h3>
                </a>
            </li>
            <li>
                <a href="/registries">
                    <h3>Workflow Registries</h3>
                </a>
            </li>
            <!--
            <li>
                <a href="/task_forces">
                    <h3>Task Forces</h3>
                </a>
            </li>
            -->
            <li>
                <a href="/groups">
                    <h3>Working Groups</h3>
                </a>
            </li>
            <li>
                <a href="/frameworks">
                    <h3>Research Frameworks</h3>
                </a>
            </li>
            <li>
                <a href="/summits">
                    <h3>Workflows Community Summits</h3>
                </a>
            </li>
            <li>
                <a href="/events">
                    <h3>Workflow-Related Events</h3>
                </a>
            </li>
            <li>
                <a href="/members">
                    <h3>Members</h3>
                </a>
            </li>
            <li>
                <a href="/jobs">
                    <h3>Jobs</h3>
                </a>
            </li>
            <li>
                <a href="/about">
                    <h3>About</h3>
                </a>
            </li>
        </ul>
    </section>

</section>