<!-- Menu -->
<section id="menu">

    <!-- Links -->
    <section>
        <ul class="links">
            <li><a href="/workflow_systems">
                    <h3>Workflow Systems</h3>
                    <p>List of Open Source Workflow Systems</p>
                </a></li>
            <li><a href="/task_forces">
                    <h3>Task Forces</h3>
                    <p>List of Task Force Efforts by the Community</p>
                </a></li>
            <li><a href="/summits">
                    <h3>Summits</h3>
                    <p>Workflows Community Summits</p>
                </a></li>
            <li><a href="/about">
                    <h3>About</h3>
                    <p>Who we are</p>
                </a></li>
        </ul>
    </section>

</section>