<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a href="/" class="logo"><img src="/images/workflows-community-logo.png" alt="" style="max-width: 20em" /></a>

        <ul class="icons">
            <li>
                <a href="https://www.youtube.com/channel/UCqCnXqWqKe9vF6cqKOj1CYw" target="_blank"
                    class="fa-stack fa-2x" style="font-size: 1.5em">
                    <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                    <i class="fab fa-youtube fa-stack-1x"></i>
                </a>
            </li>
            <li>
                <a href="mailto:contact@workflows.community" class="fa-stack fa-2x" style="font-size: 1.5em">
                    <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                </a>
            </li>
            <li>
                <a href="http://twitter.com/WorkflowsCI" target="_blank" class="fa-stack fa-2x"
                    style="font-size: 1.5em">
                    <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                    <i class="fab fa-twitter fa-stack-1x"></i>
                </a>
            </li>
        </ul>
    </section>

    <!-- About -->
    <div class="blurb">
        <p>The goal of the <strong>Workflows Community Initiative (WCI)</strong> is to bring the workflows community
            together (<i>users, developers, researchers</i>, and <i>facilities</i>) to provide community resources and
            capabilities to enable scientists and workflow systems developers to discover software products, related
            efforts, events, technical reports, etc. and engage in community-wide efforts to tackle workflows grand
            challenges.
        </p>
    </div>

    <!-- Tweets -->
    <section>
        <div class="mini-post" style="padding: 0">
            <div class="twitter-header">
                <i class="fab fa-twitter"></i>&nbsp;&nbsp;&nbsp;@WorkflowsCI
            </div>
            <a class="twitter-timeline" data-lang="en" data-height="60em" data-width="100%" data-theme="light"
                data-chrome="nofooter noheader"
                href="https://twitter.com/WorkflowsCI">Tweets by WorkflowsCI</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </section>

    {% include footer.html %}

</section>