{% assign talk = include.talk %}
<div class="swiper-slide">
  <div class="testimonial-wrap">
    <div class="testimonial-item">
      <div class="d-flex justify-content-between align-items-center info-box" style="width: 100%;">
        <div style="flex: 1;">
          <span style="font-size: 0.8em;">{{ talk.event_date | date: "%b %d, %Y" }}</span>
          <h3 class="heading"><a href="{{ talk.url }}">{{ talk.title }}</a></h3>
          <span class="position">{{ talk.authors }}</span>
          {% if talk.report_link %}
          <img src="{{ talk.report_badge }}" alt="DOI" style="padding-top: 0.5em" />
          {% endif %}
        </div>
        <div style="text-align: right;">
          {% assign speakers = site.data.speakers | where: "talk_num", talk.talk_number %}
          {% for member in speakers %}
          {% assign photo_src = member.photo | default: 'headshot_template1.jpg' %}
          <img src="/images/talks/{{ photo_src }}" alt="{{ member.name }}"
               style="width: 60px; height: 60px; object-fit: cover; border-radius: 50%; margin-left: 0.5em;" />
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
