---
image: "https://workflows.community/images/wci-default-card.png"
---
<!DOCTYPE HTML>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body class="is-preload">
    {% include header.html %}

    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center"
                data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        <a href="#">
                            <img src="/images/wci-white-logo.png" style="width: 90%" alt="" />
                        </a>
                    </p>
                    <br />
                    <h1 class="" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
                        style="font-size: 1.5em">
                        Our goal is to bring the workflows community together (users, developers, researchers, and
                        facilities) to provide <strong>community resources and capabilities</strong> to enable
                        scientists and workflow systems developers to discover software products, related efforts,
                        events, technical reports, etc. and engage in community-wide efforts to tackle workflows grand
                        challenges.
                    </h1>
                    <br />

                    <div style="background: rgba(255, 255, 255, .1); padding: 1em; border-radius: 0.5em;">
                        <a href="/summits/2024" style="line-height: 1.3em; color: #fff !important;">
                            <strong style="font-size: 1.75em">Workflows Community Summit 2024</strong><br />
                            <span>Future Trends and Challenges in Scientific Workflows</span><br />
                            <span>September 3, 4, and 5, 2024 &mdash; Virtual (via Zoom)</span><br />
                            <!-- > REGISTER NOW!! -->
                        </a>
                    </div>
                    <br /><br />
                    <div class="ftco-footer-widget mb-4">
                        <ul class="ftco-footer-social list-unstyled">
                            <li>
                                <a href="https://www.youtube.com/channel/UCqCnXqWqKe9vF6cqKOj1CYw" target="_blank"
                                    class="fa-stack fa-2x" style="font-size: 1.5em">
                                    <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                                    <i class="fab fa-youtube fa-stack-1x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:contact@workflows.community" class="fa-stack fa-2x"
                                    style="font-size: 1.5em">
                                    <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                                    <i class="fa fa-envelope fa-stack-1x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/company/workflows-community" target="_blank"
                                    class="fa-stack fa-2x" style="font-size: 1.5em">
                                    <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                                    <i class="fab fa-linkedin fa-stack-1x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://join.slack.com/t/workflowscommunity/shared_invite/zt-1s8u3ocgm-gNdsgRJgy6O2GNSFUf9eDQ"
                                    target="_blank" class="fa-stack fa-2x" style="font-size: 1.5em">
                                    <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
                                    <i class="fab fa-slack fa-stack-1x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light">
        {{ content }}
    </div>

    {% include footer.html %}

</body>

</html>