---
image: "https://workflows.community/images/wci-default-card.png"
---
<!DOCTYPE HTML>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body class="is-preload dark">
    {% include header.html %}

    <section id="hero" class="hero sticked-header-offset">
        <div id="particles-js"></div>
        <div id="repulse-circle-div"></div>
        <div class="container position-relative">
            <div class="row gy-5 aos-init aos-animate">
                <div class="col-lg-7 dark-bg order-lg-1 d-flex flex-column justify-content-start text-left caption">
                    <h2 data-aos="fade-up">Elevating community-centered scientific workflow solutions <span>through
                            collective expertise</span><span class="circle" data-aos="fade-right"
                            data-aos-delay="800">.</span></h2>
                    <p data-aos="fade-up" data-aos-delay="400">Our goal is to bring the workflows community together
                        (users, developers, researchers, and facilities) to provide <strong>community resources and
                            capabilities</strong> to enable scientists and workflow systems developers to discover
                        software products, related efforts, events, technical reports, etc. and engage in community-wide
                        efforts to tackle workflows grand challenges.</p>
                    <div class="social" data-aos="fade-up" data-aos-delay="600">
                        <a href="https://www.youtube.com/channel/UCqCnXqWqKe9vF6cqKOj1CYw" target="_blank">
                            <i class="fab fa-youtube" style="font-size: 1.5em; color: #fff !important"></i>
                        </a>
                        <a href="mailto:contact@workflows.community">
                            <i class="fa fa-envelope" style="font-size: 1.5em; color: #fff !important"></i>
                        </a>
                        <a href="https://linkedin.com/company/workflows-community" target="_blank">
                            <i class="fab fa-linkedin" style="font-size: 1.5em; color: #fff !important"></i>
                        </a>
                        <a href="https://join.slack.com/t/workflowscommunity/shared_invite/zt-1s8u3ocgm-gNdsgRJgy6O2GNSFUf9eDQ"
                            target="_blank">
                            <i class="fab fa-slack" style="font-size: 1.5em; color: #fff !important"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 dark-bg order-lg-1 d-flex flex-column justify-content-start text-left caption">
                    <div style="border: 3px solid #fff; border-radius: .5em; padding: 1em;">
                        <a href="/summits/2025-amsterdam/"><img src="/images/summits/wcs-2025-amsterdam-banner.png" width="108%" style="margin: -1em;" /></a>
                        <div style="margin-top: 2em;">
                            <strong>WORKFLOWS COMMUNITY SUMMIT 2025<br />Amsterdam Edition</strong><br />
                            <i style="color: #999">Converging Paradigms for Shaping the Future of Scientific Workflows Across the Computing Continuum</i><br />
                            June 6, 2025
                            <br /><a href="/summits/2025-amsterdam/" class="btn-get-started" target="_blank" style="margin-top: 0.5em;">Registration is Open > ></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <main id="main" class="bg-light">
        {{ content }}
    </main>

    {% include footer.html %}
    
</body>

</html>