---
layout: page
---

<div class="row justify-content-center mb-5 pb-5">
    <div class="col-md-7 text-center heading-section ftco-animate mb-5">
        <span class="subheading">{{page.organization}}</span>
        <h2 class="mb-4"><img src="{{ page.organization_logo }}" style="max-height: 3em; max-width: 10em;"
                alt="{{ page.title }}" /></h2>
        {% if page.apply_link %}
        <a href="{{ page.apply_link }}" target="_blank" class="btn btn-primary mt-3 py-3 px-5"><i
                class="fas fa-check"></i> Apply Now</a>
        {% endif %}
    </div>

    <div class="col-md-12 ftco-animate mb-5">
        <div class="row">
            <div class="col-md-4">
                <span class="light-gray">
                    <i class="fas fa-clock"></i>&nbsp;&nbsp;Application Deadline<br />
                    <strong>{{ page.application_deadline | date: "%b %d, %Y" }}</strong>
                </span>
            </div>
            <div class="col-md-4">
                <span class="light-gray">
                    <i class="fas fa-map-marker"></i>&nbsp;&nbsp;&nbsp;Location<br />
                    <strong>{{ page.location }}</strong>
                </span>
            </div>
            <div class="col-md-4">
                <span class="light-gray">
                    <i class="fas fa-briefcase"></i>&nbsp;&nbsp;Employment Type<br />
                    <strong>{{ page.employment_type }}</strong>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-12 ftco-animate">
        {{content | markdownify}}
    </div>
</div>