---
image: "https://workflows.community/images/wci-default-card.png"
---
<!DOCTYPE HTML>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body class="is-preload dark">
    {% include header.html %}

    <section id="hero" class="hero sticked-header-offset page-band">
        <div id="particles-js"></div>
        <div id="repulse-circle-div"></div>
        <div class="container position-relative">
            <p class="page-band-title" data-aos="fade-up">{{ page.title }}</p>
        </div>
    </section>

    <main id="main" class="bg-light">
        <div class="single-page">
            {{ content }}
        </div>
    </main>

    {% include footer.html %}

</body>

</html>