---
layout: default
---

<article class="post">
    <header>
        <div class="title" style="margin-bottom: -1em">
            <h2 style="margin-bottom: 0.5em">{{ page.title }}</h2>            
        </div>
        <div class="meta">
            <div class="story-date">
                <span class="month-day">{{ page.date | date: "%b %d" }}</span><br />
                <span class="year">{{ page.date | date: "%Y" }}</span>
            </div>
            <div class="story-author">
                <img src="{{ page.author_photo }}" alt="{{ page.author }}" /><br />
                {{ page.author }}<br />
                <span class="institution">{{ page.author_institution }}</span>
            </div>
            
            {% if page.apply_link %}
            <br /><br /><a href="{{ page.apply_link }}" target="_blank" class="apply"><i class="fas fa-check"></i> Apply Now</a>
            {% endif %}
        </div>
    </header>

    <main class="story-content">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                {{content | markdownify}}
            </div>
        </div>
    </main>

</article>