---
layout: page
---

<div class="container" data-aos="fade-up" style="padding: 3em 0;">
    <div class="row">
        <div class="col-lg-8 wg">
            {{content | markdownify}}
        </div>

        <div class="col-lg-4">
            <div class="blog-sidbar">
                {{ page.date | date: "%b %d, %Y" }}
                <hr />
                <div>
                    {% for author in page.authors %}
                    <img src="{{ author.photo }}" alt="{{ author.name }}"
                        style="width: 3.5em; height: 3.5em; border-radius: 0.5em; margin-right: 1em;" />
                    {{ author.name }} ({{ author.institution }})<br /><br />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>