---
layout: page
---

<div class="container" data-aos="fade-up" style="padding: 3em 0;">
    <div class="row">
        <div class="col-lg-8 wg wg-contents">
            <p class="breadcrumb">
                <a href="/workshops">WORKSHOPS&nbsp;</a> > {{ page.title | upcase }}
            </p>

            <h2 class="text-center">{{page.subtitle}}<br /><span
                    style="font-size: 0.8em; font-weight: bold;">{{page.title}}</span></h2>
            <p class="text-center mb-5" style="font-weight: bold;">
                {{page.event_date | date: "%A - %b %d, %Y" }}<br />
                {{page.location}}<br />
                {{page.time}}<br />
            </p>

            {{ content }}
        </div>


        <div class="col-lg-4">
            <div class="blog-sidbar" style="overflow-wrap: break-word;">
                <p class="text-center">
                    In conjunction with:<br />
                    <img src="{{ page.in_conjunction_with }}" style="width: 15em;" />
                </p>

                {% if page.organizers %}
                <hr />
                <h4 class="mb-3">Organizers</h4>
                {% for o in page.organizers %}
                <img src="{{ o.image }}" style="width: 3em; height: 3em; border-radius: 0.5em; margin-right: 1em; float: left" />
                {{ o.name }}
                {% if o.desc %}
                <br /><a href="{{ o.desc_link }}" target="_blank">{{ o.desc }}</a>
                {% else %}
                <br />
                {% endif %}
                <br /><br />
                {% endfor %}
                {% endif %}

                {% if page.steering_committee %}
                <hr />
                <h4 class="mb-3">Steering Committee</h4>
                {% for sc in page.steering_committee %}
                <img src="{{ sc.image }}" style="width: 3em; height: 3em; border-radius: 0.5em; margin-right: 1em;" />
                {{ sc.name }}<br /><br />
                {% endfor %}
                {% endif %}

                {% if page.nsf %}
                <hr />
                <br />
                <div style="font-size: 0.8em;">
                    <img src="/images/workshops/nsf-logo.png" style="max-width: 5em; float: left; margin-right: 1em;" />
                    {{ page.nsf }}<br /><br />
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>