---
layout: page
---

{% assign status_color = "color-2" %}
{% if page.status == "Establishing" %}
{% assign status_color = "#D4D62D" %}
{% elsif page.status == "Active" %}
{% assign status_color = "#78c315" %}
{% endif %}

<div class="container" data-aos="fade-up" style="padding: 3em 0;">
    <div class="row">
        <div class="col-lg-8 wg">
            {{content | markdownify}}
        </div>
        <div class="col-lg-4">
            <div class="blog-sidbar">
                {% if page.join %}
                <a href="{{ page.join }}" target="_blank" class="btn btn-primary mt-3 py-3 px-5"><i
                        class="fas fa-user-plus"></i> Join</a><br /><br />
                {% endif %}
                <i class="fas fa-users"></i>&nbsp;&nbsp;{{page.members | size}} members<br />
                <i class="fas fa-circle-notch" style="color: {{status_color}}"></i>&nbsp;{{ page.status }}
                <br /><br />
                <hr />
                <h4>Members</h4>
                {% for member in page.members %}
                {% if member.role %}
                <span style="color: #aa6821; border: 1px solid #aa6821; font-size: 0.6em; border-radius: 0.5em; padding: 0.25em 0.5em;">{{member.role}}</span>
                {% endif %}
                {% if member.link %}
                <a href="{{member.link}}" target="_blank">{{member.name}}</a>
                {% else %}
                {{member.name}}
                {% endif %}
                <br />
                {% endfor %}
            </div>
        </div>
    </div>
</div>