---
layout: page
---

{% assign status_color = "color-2" %}
{% if page.status == "Establishing" %}
{% assign status_color = "#D4D62D" %}
{% elsif page.status == "Establishing" %}
{% assign status_color = "color-6" %}
{% endif %}

<div class="row justify-content-center mb-5 pb-5">
    <div class="col-md-7 text-center heading-section ftco-animate mb-5">
        {% if page.join %}
        <a href="{{ page.apply_link }}" target="_blank" class="btn btn-primary mt-3 py-3 px-5"><i
                class="fas fa-user-plus"></i> Join</a><br /><br />
        {% endif %}
        <i class="fas fa-users"></i>&nbsp;&nbsp;{{page.members | size}} members
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <i class="fas fa-circle-notch" style="color: {{status_color}}"></i>&nbsp;{{ page.status }}
    </div>

    <div class="col-md-12 ftco-animate mb-5">
        {{content | markdownify}}
    </div>

    <a id="members"></a>
    <div class="col-md-7 text-center heading-section ftco-animate mt-5">
        <h2 class="mb-4">Members</h2>
        <p>The {{page.title}} working group is composed of {{page.members | size}} members.</p>
        {% if page.join %}
        <a href="{{ page.join }}" target="_blank" class="btn btn-primary mt-2"
            style="margin-top: -2em; margin-bottom: 0;">Join Working Group&nbsp;&nbsp;<i class="fas fa-user-plus"
                style="font-size: 0.8em"></i></a>
        {% endif %}
    </div>
    <div class="row mt-5">
        {% for member in page.members %}
        <div class="col-md-4 text-center heading-section ftco-animate mb-2">
            {% if member.link %}
            <a href="{{member.link}}" target="_blank">{{member.name}}</a>
            {% else %}
            {{member.name}}
            {% endif %}
            {% if member.role %}<strong>&nbsp;&nbsp;{{member.role}}</strong>{% endif %}
        </div>
        {% endfor %}
    </div>
</div>