---
layout: page
title: Placeholder talk
authors: Stephen Hudson (Argonne National Lab)
event_date: February 26, 2025
times: 9am-9.30 PST / noon-12.30pm EST / 17:00-17:30 CET
<!-- video_playlist: https://www.youtube.com/watch?v=STy5HwEVj8k&list=PLAtmuqHExRvOzPOvJfSH8PwjbVJFyulCy -->
<!-- report_badge: https://zenodo.org/badge/DOI/10.5281/zenodo.13844759.svg -->
<!-- report_doi: 10.5281/zenodo.13844759 -->
<!-- report_link: https://doi.org/10.5281/zenodo.13844759 -->
order: 5
---

<div class="row justify-content-center mb-5 pb-5">
    <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-4">{{page.title}}</h2>
        <span class="subheading">{{page.authors}}</span>
        <p class="event-date">{{page.event_date}} {{page.times}} </p>
    </div>
    <div class="col-md-12 text-center heading-section ftco-animate">
        <p class="mb-3" style="text-align: left;">
            [PLACEHOLDER TEXT] This talk aims to explore the integration of AI and HPC workflows, coordination among multi-facility
            resources,
            near real-time data integration, user experience, heterogeneous HPC environments, and FAIR computational
            workflows. Through interactive sessions and collaborative brainstorming, we will address the pressing
            challenges
            and opportunities in enhancing the efficiency, scalability, and resilience of scientific workflows.
        </p>
        <p class="mb-3" style="text-align: left !important;">
            Topics:
        </p>
        <ul style="text-align: left;">
            <li>Convergence of AI and HPC Workflows</li>
            <li>Multi-Facility Workflows in Next-Generation Scientific Collaboration</li>
            <li>Time-Sensitive Workflows</li>
            <li>Heterogeneous HPC Environments</li>
            <li>User Experience and Interfaces</li>
            <li>FAIR Computational Workflows</li>
        </ul>
    </div>


</div>


<div class="row justify-content-center mb-5 pb-5">
    <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-4">About the authors</h2>
    </div>
</div>

<!-- Text under pictures -->

<!--<div class="row">
    {% assign speaker = site.data.speakers | where: "talk_num","1" %}
    {% for member in speaker %}
    <div class="col-md-4 mb-5 ftco-animate">
        <div class="block-10">
            <div class="person-info mb-2">
                <span class="name">{{ member.name }}</span>
                <span class="role">{{ member.role }}</span>
            </div>
            <a href="{{ member.link }}" target="_blank">
                <img src="/images/talks/{{ member.photo }}" alt="{{ member.name }}" class="img-fluid mb-3" style="width: 100%">
            </a>
            <a href="{{ member.institution.link }}" target="_blank">
                <img src="/images/institutions/{{ member.institution.image }}"
                    alt="{{ member.institution.name }}" style="max-height: 2em" />
            </a>s
             <p class="mt-2">{{ member.bio }}</p>
        </div>
    </div>
    {% endfor %}
</div>
-->


<!-- Try putting text beside picture -->

<div class="row">
    {% assign speaker = site.data.speakers | where: "talk_num", "1" %}
    {% for member in speaker %}
    <div class="col-md-6 mb-5 ftco-animate">
        <div class="d-flex">
            <div class="pr-4">
                <a href="{{ member.link }}" target="_blank">
                    <img src="/images/talks/{{ member.photo }}" alt="{{ member.name }}" class="img-fluid mb-3" style="width: 150px; height: 150px; object-fit: cover; border-radius: 0.5em;">
                </a>
                <a href="{{ member.institution.link }}" target="_blank">
                    <img src="/images/institutions/{{ member.institution.image }}" alt="{{ member.institution.name }}" style="max-height: 2em;" />
                </a>
            </div>
            <div>
                <div class="person-info mb-2">
                    <span class="name font-weight-bold">{{ member.name }}</span><br>
                    <span class="role text-muted">{{ member.role }}</span>
                </div>
                <p class="bio" style="font-size: 0.8em;">{{ member.bio }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

